**/lwc/**/*.css
**/lwc/**/*.html
**/lwc/**/*.json
**/lwc/**/*.svg
**/lwc/**/*.xml
**/aura/**/*.auradoc
**/aura/**/*.cmp
**/aura/**/*.css
**/aura/**/*.design
**/aura/**/*.evt
**/aura/**/*.json
**/aura/**/*.svg
**/aura/**/*.tokens
**/aura/**/*.xml
.sfdx

core-app/main/default/aura/di_injector
core-app/main/default/aura/di_injectorAttribute
core-app/main/default/aura/di_injectorAttributeChangeEvent
core-app/main/default/aura/di_injectorFlowProxy
core-app/main/default/aura/di_injectorFlowProxyStatusChanged